<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vengine.app">

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application
        android:label="V Engine"
        android:hasCode="true"
        android:allowBackup="false">

        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
